# MacOS and VSCode/VSCodium files
**/.DS_Store
.vscode/

# Game logs and saves
**/tss_*

# Java project files
game/.settings/
game/.classpath
game/.project
game/bin/
game/lib/

# C project files
cgame/cave
cgame/*.o